@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.App {
  text-align: center;
}

.phone-picture {
  margin: 25px;
  background-repeat: no-repeat;
  object-fit: contain;

}

.phone-container {
  background-color: white;
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.phone-name {
  font-size: 30px;
  margin-bottom: 0px;
  padding: 0
    /* font-weight: bold; */
}

.phone-company {
  /* padding: 16px; */
  font-size: 20px;
  /* font-weight: bold; */
}

body {
  margin: 16px;

  background: url("https://wallpapercave.com/wp/wp7213366.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;


}

.phone-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}